*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Montserrat', sans-serif;
}  
.center{
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
} 
.top{
    height: 1024px;
    background-image: url(img/topimg.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.top_box {
    padding-top: 217px;
}
.top_text{
    width: 750px;
    color: rgb(255, 255, 255);
    font-size: 64px;
    font-weight: 700;
    line-height: 78px;
    letter-spacing: 0px;
    text-align: left;
}
.text{
    width: 500px;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 300;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: left;
    padding-top: 32px;
}
.button{
    border-radius: 30px;
    background: rgb(156, 3, 50);
    border: 1px solid rgb(156, 3, 50) ;
    box-sizing: border-box;
    width: 234px;
    height: 49px;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    margin-top: 44px;
    font-family: Montserrat;
    transition: all .33s;
    &:hover{
        transform: scale(1.05);
        background: rgb(188, 18, 69);
    }
}
.game_box{
    display: flex;
    gap: 32px;
    height: 550px;
    background-color: rgb(0, 9, 21);
    padding-top: 128px;
    padding-bottom: 128px;
}
.game_card{
    height: 306px;
    display: flex;
}
.game_card-text{
    position: absolute;
    left: 32px;
    bottom: 32px;
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
}
.play img{
    border-radius: 16px;
}
.play{
    position: relative;
    border-radius: 16px;
    transition: all .33s;
    &:hover{
        border: 3px solid rgb(68, 210, 255);
        border-radius: 16px;
        transform: scale(1.05);
    }
}

@media(max-width: 426px){
    .center{
        padding-left: 20px;
        padding-right: 20px;
    }
    .top{
        height: 735px;
        // width: 100%;
        background-image: url(img/topmob.jpeg);
        &_box{
            padding-top: 238px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
        &_text{
            width: 100%;
            font-size: 32px;
            line-height: 39px;
            text-align: center;
        }
    }
    .text{
        width: 100%;
        font-size: 14px;
        line-height: 22px;
        text-align: center;
    }
    .button{
        margin-top: 32px;
        box-sizing: border-box;
    }
    .game_box{
        height: 1221px;
        flex-wrap: wrap;
        &_card{
            margin-top: 0px;
            margin-bottom: 0px;
        }
    }
    .play img{
        max-width: 100%;
        height: 100%;
    }
}
@media(max-width: 376px) {
    .center {
        padding-left: 16px;
        padding-right: 16px;
    }
}